.skeleton-profile {
  height: 280px;
}

.skeleton-data h1 {
  height: 40px;
  background-color: #f0f2f5;
  border-radius: 5px;
}
.skeleton-data p {
  display: block;
  width: 100%;
  height: 150px;
  background-color: #f0f2f5;
  border-radius: 5px;
}

.skeleton-data .cta-button-container {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #f0f2f5;
  border-radius: 5px;
}
.skeleton-data .social-media-container div {
  width: 40px;
  height: 40px;
  background-color: #f0f2f5;
  border-radius: 5px;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.hero-skeleton-title,
.skeleton-company-name h2 {
  position: relative;
  width: 90%;
  background-color: #f0f2f5;
  height: 30px;
  border-radius: 5px;
}
.skeleton-details-wraper {
  padding: 0;
}
.skeleton-content-wraper {
  margin-top: 20px;
}
.skeleton-company-name {
  width: 100%;
}
.skeleton-company-name p {
  opacity: 1;
  display: block;
  position: relative;
  width: 85%;
  background-color: #f0f2f5;
  height: 20px;
  border-radius: 3px;
}
.skeleton-company-name span {
  opacity: 1;
  display: block;
  position: relative;
  width: 70%;
  background-color: #f0f2f5;
  height: 10px;
  border-radius: 1px;
}

.skill-skeleton-icon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-color: #f0f2f5;
}

.spn {
  position: relative;
  display: block;
  width: 100%;
  height: 15px;
  border-radius: 2px;
  background-color: #f0f2f5;
}

.card-skeleton span {
  position: relative;
  display: block;
  width: 100%;
  height: 15px;
  border-radius: 2px;
  background-color: #ffffff;
}

.skeleton-component-common {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  overflow: hidden;
}

.skeleton-component-dashboard-top-wraper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 20px;

  .skeleton-component-block {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}

.skeleton-component-block-1 {
  border-radius: 50%;
  height: 230px;
  padding: 5px;
  background-color: #f0f2f5;
}

.skeleton-component-block-2 {
  padding: 20px;

  h1 {
    width: 80%;
    background-color: #f0f2f5;
    height: 25px;
    border-radius: 5px;
  }
  h2 {
    margin-top: 10px;
    width: 70%;
    background-color: #f0f2f5;
    height: 20px;
    border-radius: 5px;
  }

  p {
    display: block;
    margin-top: 10px;
    width: 100%;
    background-color: #f0f2f5;
    height: 80px;
    border-radius: 5px;
  }

  .skeleton-component-block-2-social-media {
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    div {
      border-radius: 5px;
      width: 30px;
      height: 30px;
      background-color: #f0f2f5;
    }
  }
}

.skeleton-work-component-header {
  position: relative;
  width: 100%;

  h2 {
    width: 50%;
    height: 25px;
    background-color: #f0f2f5;
    border-radius: 5px;
  }
}

.skeleton-common-component-wraper {
  position: relative;
  width: 100%;
  margin-top: 25px;
}

.skeleton-work-component-wraper {
  display: flex;
  gap: 20px;
  flex-direction: column;

  .skeleton-work-component-item,
  .skeleton-recent-project-item {
    position: relative;
    width: 100%;
    flex: 1;

    .skeleton-item-top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        width: 70%;
        height: 20px;
        background-color: #f0f2f5;
        border-radius: 5px;
      }
      p {
        width: 100px;
        height: 15px;
        background-color: #f0f2f5;
        border-radius: 2px;
      }
    }

    .skeleton-work-summery {
      max-width: 650px;
      margin-top: 20px;
      p {
        width: 100%;
        margin-top: 3px;
        display: block;
        height: 12px;
        background-color: #f0f2f5;
        border-radius: 2px;

        &:nth-child(1) {
          width: 70%;
        }
        &:nth-child(2) {
          width: 75%;
        }
        &:nth-child(3) {
          width: 80%;
        }
        &:nth-child(4) {
          width: 85%;
        }
        &:nth-child(5) {
          width: 90%;
        }
        &:nth-child(6) {
          width: 95%;
        }
      }
    }
  }
}

.skeleton-skill-component-wraper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 15px;

  .skeleton-skill-component-item {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #eaecee;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9;

    .skeleton-skill-item-wraper {
      position: relative;
      width: 100%;

      .skeleton-skill-img {
        position: relative;
        width: 100%;
        height: 180px;
        background-color: var(--light-bg);
        border-radius: 5px;
        flex-shrink: 0;
        margin: 0 auto;
      }
    }
  }
}

.skeleton-profile,
.skeleton-data h1,
.skeleton-data p,
.skeleton-data .cta-button-container,
.skeleton-data .social-media-container div,
.skeleton-company-name p,
.hero-skeleton-title,
.skeleton-company-name h2,
.skeleton-company-name span,
.skill-skeleton-icon,
.spn,
.card-skeleton .card-icon,
.video-card-skeleton,
.skeleton-component-block-1,
.skeleton-component-block-2 h1,
.skeleton-component-block-2 h2,
.skeleton-component-block-2 p,
.skeleton-component-block-2-social-media div,
.skeleton-work-component-header h2,
.skeleton-work-summery p,
.skeleton-item-top h3,
.skeleton-item-top p,
.skeleton-skill-img {
  position: relative;
  overflow: hidden;
  background-color: #f0f2f5;
}

.skeleton-profile::before,
.skeleton-data h1::before,
.skeleton-data p::before,
.skeleton-data .cta-button-container::before,
.skeleton-data .social-media-container div::before,
.skeleton-company-name span::before,
.skeleton-company-name h2::before,
.hero-skeleton-title::before,
.skeleton-company-name p::before,
.skill-skeleton-icon::before,
.spn::before,
.card-skeleton span::before,
.card-skeleton .card-icon::before,
.video-card-skeleton::before,
.skeleton-component-block-1::before,
.skeleton-component-block-2 h1::before,
.skeleton-component-block-2 h2::before,
.skeleton-component-block-2 p::before,
.skeleton-component-block-2-social-media div::before,
.skeleton-work-component-header h2::before,
.skeleton-work-summery p::before,
.skeleton-item-top h3::before,
.skeleton-item-top p::before,
.skeleton-skill-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #f0f2f5 0%, #e0e0e0 50%, #f0f2f5 100%);
  animation: shimmer 1.5s infinite;
  background-size: 1000px 100%;
}
